@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 10px 30px;
}

nav li:first-child {
    margin-right: auto;
}

nav li:first-child img {
    height: 70px;
}

nav li:last-child {
    margin-left: auto;
}

nav li button {
    padding: 5px 20px;
    border: 0px solid;
    border-radius: 5%;
    background-color: #29554a;
    color: white;
}

section {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

section h1 {
    width: fit-content;
    margin-left: 100px;
    font-size: 50px;
}

section .one {
    margin-left: auto;
    height: 500px;
    width: 70vw;
    border-radius: 10%;
    transform: translate(50%, -20%);
}

section .two {
    margin-right: auto;
    height: 500px;
    width: 70vw;
    border-radius: 10%;
    transform: translate(-30%, -70%);
}

main {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 50px;
    margin: 30px;
}

main .left {
    display: grid;
    grid-template-rows: repeat(5, 20%);
    width: 80%;
    margin-left: 100px;
}

main .left .option {
    display: flex;
    flex-wrap: wrap;
    overflow-y: hidden;
}

main .left .option img {
    width: 15%;
    height: 80%;
}

main .left .option h1 {
    font-size: 100%;
}

main .left .option div {
    margin: auto;
}

main .right img {
    margin-left: 10%;
    width: 80%;
    border-radius: 10%;
}

.properties {
    margin-top: 200px;
    margin-left: 100px;
}

.properties h1 {
    margin-bottom: 50px;
}

.properties .cards {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.properties .card {
    display: flex;
    background-color: rgb(241, 237, 237);
    height: 300px;
    width: 80%;
    border-radius: 3%;
}

.properties .card img {
    width: 50%;
}

.properties .card .option {
    display: grid;
    grid-template-rows: repeat(5, 20%);
}

.properties .card .option h1 {
    height: fit-content;
    font-size: 100%;
    margin: 30px;
}

.properties .card .option div {
    display: flex;
    align-items: center;
}

.properties .card .option div p {
    margin-left: 20px;
    font-size: 12px;
}

.properties .card .option div img {
    height: 30px;
    width: 30px;
    margin-left: 20%;
}

.customers {
    margin-top: 200px;
}
.customers h1 {
    margin-left: 100px;
    margin-bottom: 50px;
}
.customers .cards{
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.customers .cards .left img{
    width: 50%;
    border-radius: 5%;
    margin-left: 100px;

}
.customers .cards .right {
    display: flex;
    width: 80%;
    align-items: center;
}

.news {
    margin-top: 200px;
}
.news h1 {
    margin-left: 100px;
}
.news .cards {
    display: grid;
    grid-template-columns: repeat(3,33%);
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.news .cards .card img{
    width: 80%;
    border-radius: 5%;
    height: 270px;
}
.news .cards .card .content {
    border-radius: 5%;
    background-color: white;
    transform: translate(5%, -70%);
    width: 80%;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.news .cards .card .content .head {
    display: flex;
    justify-content: space-between;
    
}
footer {
    margin-top: 200px;
    background-color: #29554a;
    color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
footer header {
    display:  flex;
    justify-content: space-between;
}
footer header h1 {
    margin-left: 100px;
    margin-top: 100px;
}
footer header button {
    margin-top: 100px;
    margin-right: 100px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: 0px;
    color: #29554a;
}

footer .content {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4,25%);
}
footer .content ul {
    width: 80%;
    margin-left: 100px;
}
footer .content li {
    margin-top: 20px;
}
footer .content ul li:first-child{
    font-size: 20px;
}
footer .copyright{
    margin-top: 50px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
footer .copyright img{
    width: 100px;
    border-radius: 100%;

}